<div class="min-vh-100 d-flex flex-column">

  <nav class="navbar navbar-expand-lg bg-white border border-1 border-secondary-subtle">
    <div class="container">

      <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="#">
        <div class="d-flex">
          <img src="Logo.svg" alt="" width="43" height="43">
          <span class="fs-3 ms-1">ShiftOne</span>
        </div>
      </a>

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="supervisorNavbar">
        <ul class="nav mt-3 mt-lg-0 d-flex gap-3">
          <li class="nav-item">
            <button class="nav-link px-2 fw-semibold" [class.active]="currentView === 'home'" (click)="onViewChange('home')">Home</button>
          </li>
          <li class="nav-item">
            <button class="nav-link px-2 fw-semibold" [class.active]="currentView === 'daily'" (click)="onViewChange('daily')">Records</button>
          </li>
        </ul>

        <button class="btn btn-dark fw-bold mt-3 mt-lg-0 ms-5" (click)="logout()">
          Logout
        </button>
      </div>
      
    </div>
  </nav>

  <main class="flex-grow-1">
    <div class="container">
      @if (currentView === 'home') {
        <app-supervisor-home></app-supervisor-home>
      }
      @if (currentView === 'daily') {
        <app-supervisor-daily></app-supervisor-daily>
      }
    </div>
  </main>

</div>