// worker-history.component.scss
.input-group {
  .form-control,
  .btn {
    border-color: #dee2e6;
  }
}

:host ::ng-deep {
  .ag-theme-quartz {
    --ag-grid-size: 8px;
    --ag-list-item-height: 40px;
  }
}